# Q1.  Create a function which will take a list as an argument and return the product of all the numbers after creating a flat list. Use the below-given list as an argument for your function.
# list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [32]:
from functools import reduce
def product(lst):
    flatList=[]
    for i in lst:
        if type(i)==list or type(i)==tuple or type(i)==set:
            for j in i:
                if type(j)==int:
                    flatList.append(j)
        elif type(i)==dict:
            for a in i.keys():
                if type(a)==int:
                    flatList.append(a)
            for b in i.values():
                if type(b)==int:
                    flatList.append(b)
                if type(b)==list or type(b)==tuple:
                    for c in b:
                        if type(c)==int:
                            flatList.append(c)
        else:
            if type(i)==int:
                flatList.append(i)
    print(flatList)
    a = reduce(lambda x,y : x*y , flatList)
    return a
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']
print(product(list1))

[1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 4, 34, 55, 67, 78, 89, 45, 22, 61, 34, 56]
4134711838987085478833841242112000

Q2. Write a python program for encrypting a message sent to you by your friend. The logic of encryption
should be such that, for a the output should be z. For b, the output should be y. For c, the output should
be x respectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation
marks unchanged.
Input Sentence: I want to become a Data Scientist.
Encrypt the above input sentence using the program you just created.
Note: Convert the given input sentence into lowercase before encrypting. The final output should be
lowercase.

In [33]:
str1 = "I want to become a Data Scientist."
def encrypt(stri):
  stri = stri.lower()
  stri = stri.replace("a","z").replace("b","y").replace("c","x")
  return stri

encrypt(str1)

'i wznt to yexome z dztz sxientist.'