Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a document database used to build highly available and scalable internet applications. With its flexible schema approach, it's popular with development teams using agile methodologies.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems.

SQL databases are used to store structured data while NoSQL databases like MongoDB are used to save unstructured data. MongoDB is used to save unstructured data in JSON format.

Q2. State and Explain the features of MongoDB.

* Easy to use
* Light Weight
* Extremely faster than RDBMS
* There are no complex joins in MongoDB.
* MongoDB is schema less. It is a document database in which one collection holds different documents.
* It is very easy to scale.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [9]:
! pip install pymongo

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://abhaymagar90:abhaymagar90@cluster0.japbhna.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 14.7 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 28.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Pinged your deployment. You successfully connected to MongoDB!

In [10]:
client

MongoClient(host=['ac-rt88cl3-shard-00-02.japbhna.mongodb.net:27017', 'ac-rt88cl3-shard-00-01.japbhna.mongodb.net:27017', 'ac-rt88cl3-shard-00-00.japbhna.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-q0qy8a-shard-0', tls=True)

In [11]:
db = client["Database"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [13]:
collection = db["Records"]

In [14]:
collection.insert_one({"name" : "Abhay Magar", "rno" : 34})

In [15]:
collection.insert_many(
    [
        {"name" : "Abhinav Kumar", "rno" : 35},
        {"name" : "Raj Sharma", "rno" : 56},
        {"name" : "Nilesh Mehta", "rno" : 28},
        {"name" : "Jitendra Kumar", "rno" : 76},
        {"name" : "Raghav Puri", "rno" : 46},
    ]
)

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [24]:
collection.find_one()

{'_id': ObjectId('6484b9d50bb0928f6375c631'), 'name': 'Abhay Magar', 'rno': 34}

In [25]:
collection.find_one({"name":"Raghav Puri"})

{'_id': ObjectId('6484ba470bb0928f6375c636'), 'name': 'Raghav Puri', 'rno': 46}

In [26]:
collection.find({"rno" : {"$gte" : 50}})

In [27]:
for i in collection.find({"rno" : {"$gte" : 50}}):
  print(i)

{'_id': ObjectId('6484ba470bb0928f6375c633'), 'name': 'Raj Sharma', 'rno': 56}
{'_id': ObjectId('6484ba470bb0928f6375c635'), 'name': 'Jitendra Kumar', 'rno': 76}

In [28]:
collection.find({"rno" : {"$gte" : 50}})

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

sort() is used to sort the records in ascending or descing order based on a key/ metric.

In [58]:
db.collection.find().sort([ ("rno", 1) ])

In [60]:
for i in collection.find().sort([ ("rno", 1) ]):
  print(i)

{'_id': ObjectId('6484ba470bb0928f6375c634'), 'name': 'Nilesh Mehta', 'rno': 28}
{'_id': ObjectId('6484b9d50bb0928f6375c631'), 'name': 'Abhay Magar', 'rno': 34}
{'_id': ObjectId('6484ba470bb0928f6375c632'), 'name': 'Abhinav Kumar', 'rno': 35}
{'_id': ObjectId('6484ba470bb0928f6375c636'), 'name': 'Raghav Puri', 'rno': 46}
{'_id': ObjectId('6484ba470bb0928f6375c633'), 'name': 'Raj Sharma', 'rno': 56}
{'_id': ObjectId('6484ba470bb0928f6375c635'), 'name': 'Jitendra Kumar', 'rno': 76}

In [62]:
for i in collection.find().sort([ ("name", 1) ]):
  print(i)

{'_id': ObjectId('6484b9d50bb0928f6375c631'), 'name': 'Abhay Magar', 'rno': 34}
{'_id': ObjectId('6484ba470bb0928f6375c632'), 'name': 'Abhinav Kumar', 'rno': 35}
{'_id': ObjectId('6484ba470bb0928f6375c635'), 'name': 'Jitendra Kumar', 'rno': 76}
{'_id': ObjectId('6484ba470bb0928f6375c634'), 'name': 'Nilesh Mehta', 'rno': 28}
{'_id': ObjectId('6484ba470bb0928f6375c636'), 'name': 'Raghav Puri', 'rno': 46}
{'_id': ObjectId('6484ba470bb0928f6375c633'), 'name': 'Raj Sharma', 'rno': 56}

In [63]:
for i in collection.find().sort([ ("rno", -1) ]):
  print(i)

{'_id': ObjectId('6484ba470bb0928f6375c635'), 'name': 'Jitendra Kumar', 'rno': 76}
{'_id': ObjectId('6484ba470bb0928f6375c633'), 'name': 'Raj Sharma', 'rno': 56}
{'_id': ObjectId('6484ba470bb0928f6375c636'), 'name': 'Raghav Puri', 'rno': 46}
{'_id': ObjectId('6484ba470bb0928f6375c632'), 'name': 'Abhinav Kumar', 'rno': 35}
{'_id': ObjectId('6484b9d50bb0928f6375c631'), 'name': 'Abhay Magar', 'rno': 34}
{'_id': ObjectId('6484ba470bb0928f6375c634'), 'name': 'Nilesh Mehta', 'rno': 28}

In [66]:
for i in collection.find().sort([ ("name", -1) ]):
  print(i)

{'_id': ObjectId('6484ba470bb0928f6375c633'), 'name': 'Raj Sharma', 'rno': 56}
{'_id': ObjectId('6484ba470bb0928f6375c636'), 'name': 'Raghav Puri', 'rno': 46}
{'_id': ObjectId('6484ba470bb0928f6375c634'), 'name': 'Nilesh Mehta', 'rno': 28}
{'_id': ObjectId('6484ba470bb0928f6375c635'), 'name': 'Jitendra Kumar', 'rno': 76}
{'_id': ObjectId('6484ba470bb0928f6375c632'), 'name': 'Abhinav Kumar', 'rno': 35}
{'_id': ObjectId('6484b9d50bb0928f6375c631'), 'name': 'Abhay Magar', 'rno': 34}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one()  - To delete one record

delete_many() - to delete many records at once

drop() - To delete all records in the collection at once

In [70]:
collection.delete_one( {"rno" : {"$gte" : 30 }})

In [71]:
for i in collection.find():
  print(i)

{'_id': ObjectId('6484ba470bb0928f6375c632'), 'name': 'Abhinav Kumar', 'rno': 35}
{'_id': ObjectId('6484ba470bb0928f6375c633'), 'name': 'Raj Sharma', 'rno': 56}
{'_id': ObjectId('6484ba470bb0928f6375c634'), 'name': 'Nilesh Mehta', 'rno': 28}
{'_id': ObjectId('6484ba470bb0928f6375c635'), 'name': 'Jitendra Kumar', 'rno': 76}
{'_id': ObjectId('6484ba470bb0928f6375c636'), 'name': 'Raghav Puri', 'rno': 46}

In [72]:
collection.delete_many( {"rno" : {"$gte" : 40 }})

In [73]:
for i in collection.find():
  print(i)

{'_id': ObjectId('6484ba470bb0928f6375c632'), 'name': 'Abhinav Kumar', 'rno': 35}
{'_id': ObjectId('6484ba470bb0928f6375c634'), 'name': 'Nilesh Mehta', 'rno': 28}

In [74]:
collection.drop()

In [75]:
for i in collection.find():
  print(i)