Consider the below code to answer further questions:

import numpy as np

list_ = [ '1’ , ’2’ , '3’ , '4’ , '5’ ]

array_list = np.array(object = list_)

In [2]:
import numpy as np

list_ = [ '1' , '2' , '3' , '4' , '5' ]

array_list = np.array(object = list_)
array_list

array(['1', '2', '3', '4', '5'], dtype='<U1')

In [3]:
list_

['1', '2', '3', '4', '5']

In [6]:
type(array_list)

numpy.ndarray

In [7]:
type(list_)

list

In [13]:
array_list.dtype

dtype('<U1')

Q2. Write a code to print the data type of each and every element of both the variables list_ and
array_list.

In [14]:
[type(i) for i in list_]

[str, str, str, str, str]

In [15]:
[type(i) for i in array_list]

[numpy.str_, numpy.str_, numpy.str_, numpy.str_, numpy.str_]

Q3. Considering the following changes in the variable, array_list:

array_list = np.array(object = list_, dtype = int)

Will there be any difference in the data type of the elements present in both the variables, list_ and
arra_list?

If so then print the data types of each and every element present in both the variables, list_
and arra_list.

In [18]:
array_list = np.array(object = list_, dtype = int)

In [19]:
array_list

array([1, 2, 3, 4, 5])

In [20]:
array_list.dtype

dtype('int64')

In [21]:
type( list_ )

list

In [27]:
[type(i) for i in array_list]

[numpy.int64, numpy.int64, numpy.int64, numpy.int64, numpy.int64]

Consider the below code to answer further questions:

import numpy as np

num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]

num_array = np.array(object = num_list)

Q4. Write a code to find the following characteristics of variable, num_array:
(i) shape
(ii) size

In [28]:
import numpy as np

num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]

num_array = np.array(object = num_list)

In [29]:
num_list

[[1, 2, 3], [4, 5, 6]]

In [34]:
num_array.shape

(2, 3)

In [35]:
len(num_list)

2

In [36]:
np.array(num_list).shape

(2, 3)

In [41]:
num_array.size

6

Q5. Write a code to create numpy array of 3*3 matrix containing zeros only, using a numpy array
creation function.
[Hint: The size of the array will be 9 and the shape will be (3,3).]

In [43]:
zeros = np.zeros((3,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [44]:
zeros.shape

(3, 3)

In [45]:
zeros.size

9

Q6. Create an identity matrix of shape (5,5) using numpy functions?
[Hint: An identity matrix is a matrix containing 1 diagonally and other elements will be 0.]

In [48]:
ide = np.eye(5)
ide

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [49]:
ide.shape

(5, 5)

In [50]:
ide.size

25