# Assignment 2

In [5]:
# Q.1

marks = int(input("enter marks: "))
if marks>90:
  print("Grade A")
elif (marks > 80) and (marks<=90):
  print("Grade B")
elif (marks >= 60) and (marks<=80):
  print("Grade C")
else:
  print("Grade D")

enter marks: 99
Grade A

In [9]:
# Q.2

price = int(input("enter price: "))
if price > 100000:
  print(0.15*price)
elif (price > 50000) and (price<=100000):
  print(price*0.1)
else:
  print(price*0.05)

enter price: 100001
15000.15

In [14]:
# Q.3

city = input("enter city: ")
if city.lower() == "delhi":
  print("Red Fort")
elif city.lower() == "agra":
  print("Taj Mahal")
elif city.lower() == "jaipur":
  print("Jal Mahal")
else:
  pass

enter city: JaiPUr
Jal Mahal

In [28]:
# Q.4

num = int(input("enter a number "))
i = 0
while i>=0:
  if num<10:
    break
  num = num/3
  i = i + 1
print(i)

enter a number 300
4

In [39]:
# Q.5 

# Python while loop is used to run a block code until a certain condition is met. If the condition is true, loop runs and if it is false, control comes out of the loop

i = 0
sum = 0
while i<=5:
  sum = sum + i
  i = i + 1
print(sum)

15

In [40]:
# Q.6

n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows : 4
*
* *
* * *
* * * *

In [41]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows : 6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [42]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows : 5
  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15

In [45]:
# Q.7

n = 10
while n>0:
  print(n, end=" , ")
  n = n - 1

10 , 9 , 8 , 7 , 6 , 5 , 4 , 3 , 2 , 1 ,