***Q1. What are the characteristics of the tuples? Is tuple immutable?***

Tuples are immutable and they are indexed as well as ordered. They also can contain duplicate values.

***Q.2 What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.***

In [1]:
# Two tuple methods: count() and index()

t = (1,2,3,4)
type(t)

tuple

In [3]:
print(t.count(3))
print(t.count(10))            # count() is used to count no. of element in a tuple

1
0

In [6]:
print(t.index(3))
print(t.index(1))     # index() returns index of an element in a tuple
# print(t.index(10))    --> error

2
0

The main reason why tuples have only two in-built methods as compared to Lists is that tuples are immutable(can't be changed) unlike Lists which are mutable.

***Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.***

A set is a datatype which only consists of unique element. If it is given repeated values, it will only store one value and discard all the other duplicates.

In [7]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
print(List)

[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [8]:
# convert list to set. Automatically, duplicates will be discarded
s = set(List)
print(s)

{1, 2, 3, 4}

In [9]:
# again convert set to List
List = list(s)
print(List)

[1, 2, 3, 4]

***Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.***

update() adds all missing elements to the set on which it is called.
union() creates new set with elements from both sets

In [11]:
x = {1,2,3}
y = {4,5,1}

z = x.union(y)

print(z)

{1, 2, 3, 4, 5}

In [13]:
x = {1,2,3}
y = {4,5,1}

z = x.update(y)

print(z)
print(x)

None
{1, 2, 3, 4, 5}

***Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.***

A dictionary is a datatype which consists of key-value pairs. It is ordered, changeable and does not contain duplicates

In [14]:
d = {"name":"Abhay", "Rollno":35, "hobbies": {"gaming", "music", "anime"}}
d

{'name': 'Abhay', 'Rollno': 35, 'hobbies': {'anime', 'gaming', 'music'}}

***Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.***

Yes, we can absolutely create a nested dictionary.

In [15]:
d1 = {"branch": "comp", "id": 2, "name": {"firstname": "Abhay", "middlename": "Shivaji", "lastname":"Magar"} }
d1

{'branch': 'comp',
 'id': 2,
 'name': {'firstname': 'Abhay', 'middlename': 'Shivaji', 'lastname': 'Magar'}}

In [16]:
d1.get("name")

{'firstname': 'Abhay', 'middlename': 'Shivaji', 'lastname': 'Magar'}

In [17]:
type(d1.get("name"))

dict

***Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']***

In [19]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [22]:
dict1.setdefault("topics", ['Python', 'Machine Learning', 'Deep Learning'])
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

***Q.8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.***

The three view objects in dictionries are keys, values and items

In [26]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

dict1.keys()        # returns all keys in the dictionary

dict_keys(['Sport', 'Teams'])

In [27]:
dict1.values()      # returns all values in dictionary

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [28]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])